<div class="jumbotron bg-white text-center">
    <h1 class = "display-4">Corona Covid-19 Tracker </h1> 
    <hr>
  
    <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' 
    [totalDeaths]='totalDeaths' [totalRecovered]='totalRecovered'></app-dashboard-card>
</div>

<hr>
<div class="row">
    <div class="col"><google-chart [data]="ColumnChart"></google-chart></div>
    <div class="col"><google-chart [data]="PieChart"></google-chart></div>
</div>



<!-- <google-chart [title]="chart.title" [type]="chart.type" [data]="chart.data" [columns]="chart.columnNames" [options]="chart.options">
</google-chart> -->